.program-details {
    padding: 2em;
    background-color: #bcefed; /* color5 */
    text-align: center;
  }
  
  .program-title {
    color: #2098d8; /* color1 */
    margin-bottom: 1em;
  }
  
  .program-description {
    color: #ef6ddd; /* color2 */
    margin-bottom: 1em;
  }
  
  .download-button {
    background-color: #2098d8; /* color1 */
    color: white;
    margin-top: 10px;
  }
  
  .download-button:hover {
    background-color: #ef6ddd; /* color2 */
  }
  
  .program-instructions {
    color: #2098d8; /* color1 */
    margin-top: 1em;
  }
  