.transparent-header {
  background-color: #333;
  padding: 10px 0;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  width: 100%;
  max-width: 1000px; /* Опционально: ограничиваем ширину для больших экранов */
  margin: 0 auto; /* Центрирование хедера на странице */
  box-sizing: border-box; /* Включаем отступы и границы в ширину элемента */
}

.header-text {
  color: white; /* Цвет текста заголовка */
}

.cool {
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта для кнопки */
  text-transform: uppercase; /* Приведение текста кнопки к верхнему регистру */
  background-color: #007BFF; /* Цвет фона кнопки */
  border-radius: 5px; /* Закругление углов кнопки */
  color: white; /* Цвет текста кнопки */
  text-decoration: none; /* Убираем подчеркивание текста ссылки */
}

.cool:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

@media (max-width: 600px) {
  .header-toolbar {
    flex-direction: column; /* Вертикальное расположение элементов на мобильных устройствах */
    align-items: center; /* Центрирование элементов */
    padding: 10px; /* Уменьшаем отступы внутри для мобильных устройств */
    box-sizing: border-box; /* Включаем отступы и границы в ширину элемента */
  }

  .header-text {
    font-size: 20px; /* Уменьшаем размер шрифта для заголовка на мобильных устройствах */
  }

  .cool {
    margin-top: 10px; /* Отступ сверху для кнопки на мобильных устройствах */
  }
}
