.card {
    max-width: 300px;
    margin: 1em;
    background-color: #ffffff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
  }
  
  .card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .card-media {
    height: 180px; /* Increased height for better visuals */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
  
  .card-title {
    color: #2098d8; /* color1 */
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
    white-space: pre-wrap; /* Handle line breaks */
  }
  
  .card-button {
    background-color: #2098d8; /* color1 */
    color: white;
    margin-top: 10px;
    padding: 10px 20px; /* Added padding for better spacing */
    border-radius: 5px;
    text-transform: none; /* Remove uppercase transformation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Button shadow */
  }
  
  .card-button:hover {
    background-color: #ef6ddd; /* color2 */
  }
  